#af-form-954193347 .af-body{font-family:Verdana, sans-serif;font-size:11px;color:#000000;background-image:none;background-position:inherit;background-repeat:no-repeat;padding-top:15px;padding-bottom:15px;}
#af-form-954193347 .af-body .privacyPolicy{font-family:Verdana, sans-serif;font-size:11px;color:#000000;}
#af-form-954193347 {border-style:solid;border-width:1px;border-color:transparent;background-color:transparent;}
#af-form-954193347 .af-standards .af-element{padding-left:15px;padding-right:15px;}
#af-form-954193347 .af-quirksMode{padding-left:15px;padding-right:15px;}
#af-form-954193347 .af-header{font-family:Verdana, sans-serif;font-size:16px;color:#FFFFFF;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;border-width:1px;background-image:url("https://forms.aweber.com/images/auto/body/888/888/222/222");background-position:top left;background-repeat:repeat-x;background-color:#222222;padding-left:10px;padding-right:10px;padding-top:9px;padding-bottom:9px;}
#af-form-954193347 .af-footer{font-family:Verdana, sans-serif;font-size:12px;color:#000000;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;border-width:1px;background-image:none;background-color:transparent;padding-left:15px;padding-right:15px;padding-top:0px;padding-bottom:0px;}
#af-form-954193347 .af-body input.text, #af-form-954193347 .af-body textarea{border-color:#000000;border-width:1px;border-style:solid;font-family:Verdana, sans-serif;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;background-color:#FFFFFF;}
#af-form-954193347 .af-body input.text:focus, #af-form-954193347 .af-body textarea:focus{border-style:solid;border-width:1px;border-color:#5E5E5E;background-color:#EBEBEB;}
#af-form-954193347 .af-body label.previewLabel{font-family:Arial, sans-serif;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#727272;display:block;float:none;text-align:left;width:auto;}
#af-form-954193347 .af-body .af-textWrap, #af-form-954193347 .af-body .af-checkWrap{width:98%;display:block;float:none;}
#af-form-954193347 .buttonContainer input.submit{font-family:Verdana, sans-serif;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;background-color:#118034;background-image:none;}
#af-form-954193347 .buttonContainer{text-align:center;}
#af-form-954193347 .af-body label.choice{font-family:inherit;font-size:inherit;font-weight:normal;font-style:normal;text-decoration:none;color:#727272;}
#af-form-954193347 .af-body a{font-weight:normal;font-style:normal;text-decoration:underline;color:#727272;}
#af-form-954193347, #af-form-954193347 .quirksMode{width:100%;max-width:588.0px;}
#af-form-954193347.af-quirksMode{overflow-x:hidden;}
#af-form-954193347{overflow:hidden;}
#af-form-954193347 button,#af-form-954193347 input,#af-form-954193347 submit,#af-form-954193347 textarea,#af-form-954193347 select,#af-form-954193347 label,#af-form-954193347 optgroup,#af-form-954193347 option {float:none;margin:0;position:static;}
#af-form-954193347 select,#af-form-954193347 label,#af-form-954193347 optgroup,#af-form-954193347 option {padding:0;}
#af-form-954193347 input,#af-form-954193347 button,#af-form-954193347 textarea,#af-form-954193347 select {font-size:100%;}
#af-form-954193347 .buttonContainer input.submit {width:auto;}
#af-form-954193347 form,#af-form-954193347 textarea,.af-form-wrapper,.af-form-close-button,#af-form-954193347 img {float:none;color:inherit;margin:0;padding:0;position:static;background-color:none;border:none;}
#af-form-954193347 div {margin:0;}
#af-form-954193347 {display:block;}

.af-clear{clear:both;}
.af-form{box-sizing:border-box; margin:auto; text-align:left;}
.af-element{padding-bottom:5px; padding-top:5px;}
.af-form-wrapper{text-indent: 0;}
.af-body input.submit, .af-body input.image, .af-form .af-element input.button{float:none!important;}
.af-body input.submit{white-space: inherit;}
.af-body input.text{width:100%; padding:2px!important;}
.af-body .af-textWrap{text-align:left;}
.af-element label{float:left; text-align:left;}
.lbl-right .af-element label{text-align:right;}
.af-quirksMode .af-element{padding-left: 0!important; padding-right: 0!important;}
.af-body.af-standards input.submit{padding:4px 12px;}
.af-body input.image{border:none!important;}
.af-body input.text{float:none;}
.af-element label{display:block; float:left;}
.af-element-checkbox label, .af-element-checkbox input.checkbox { display:inline!important; float:none!important; }
.af-element-checkbox .choice { display:inline; }

/* body {
} */

#af-form-954193347 .bodyText p {
  margin: 0 0 1em !important;
}

/* #af-form-954193347 .af-body {
  padding-top:
} */

#af-form-954193347 .af-body .af-textWrap {
  width: 100% !important;
}

#af-form-954193347 .af-body .af-element {
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}
#af-form-954193347 .af-body .af-element:first-child {
  margin-top: 0 !important;
}
#af-form-954193347 .af-body label.previewLabel {
  font-weight: 700 !important;
  margin-top: 0.25rem !important;
  margin-bottom: .25rem !important;
}
#af-form-954193347 .af-body input.text,
#af-form-954193347 .af-body textarea {
  border-radius: 3px !important;
  box-sizing: border-box !important;
  color: #444444;
  font-size: 1rem;
  margin-bottom: 0.75rem !important;
  padding: 8px 12px !important;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#af-form-954193347 .af-body select {
  width: 100%;
}
#af-form-954193347 .af-body .af-dateWrap select {
  width: 33%;
}
#af-form-954193347 .choiceList-radio-stacked {
  margin-bottom: 1rem !important;
  width: 100% !important;
}
#af-form-954193347 .af-element-radio {
  margin: 0 !important;
}
#af-form-954193347 .af-element-radio input.radio {
  display: inline;
  height: 0;
  opacity: 0;
  overflow: hidden;
  width: 0;
}
#af-form-954193347 .af-element-radio input.radio:checked ~ label {
  font-weight: 700 !important;
}
#af-form-954193347 .af-element-radio input.radio:focus ~ label {
  box-shadow: inset 0 0 0 2px rgba(25,35,70,.25);
}
#af-form-954193347 .af-element-radio input.radio:checked ~ label:before {
  background-color: #777777;
  border-color: #d6dee3;
}
#af-form-954193347 .af-element-radio label.choice {
  border: 1px solid #d6dee3;
  border-radius: 3px !important;
  display: block !important;
  font-weight: 300 !important;
  margin: 0.5rem 0 !important;
  padding: 1rem 1rem 1rem 2rem !important;
  position: relative;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
#af-form-954193347 .af-element-radio label.choice:before {
  background-color: #FFF;
  border: 1px solid #d6dee3;
  border-radius: 50%;
  content: '';
  height: 0.75rem;
  margin-left: -1.3rem;
  position: absolute;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 0.75rem;
}
#af-form-954193347 .buttonContainer {
  box-sizing: border-box !important;
}
#af-form-954193347 .af-footer {
  box-sizing: border-box !important;
}

#af-form-954193347 .af-footer p {
  margin: 0 !important;
}
#af-form-954193347 input.submit,
#af-form-954193347 #webFormSubmitButton {
  border: none;
  border-radius: 3px !important;
  font-weight: bold;
  margin-top: 0.5rem !important;
  margin-bottom: 1rem !Important;
  padding: 0.6rem 1.5rem !important;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  }
#af-form-954193347 input.submit:hover,
#af-form-954193347 #webFormSubmitButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

#af-form-954193347 input.text:hover {
  cursor: pointer;
  opacity: 0.8;
}

.poweredBy a,
.privacyPolicy p {
  color: #000000 !important;
  font-size: 0.65rem !important;
}